.bg-white
  .row
    .firt_block.pad-top-50
      .homepage-photo.text-center
        = image_tag "closet_door.jpeg", alt: "mycloset", class: "main-photo"
      .text-center.pad-top-80.pad-bottom-60
        %p.dark_font.orange-border.margin-right-120.margin-left-120 Every dream closet needs a organization system. 
        .line_pic
          = image_tag "line.svg", alt: "line"
.bottom
  .hangers-bottom
  

  / .pad-left-0.pad-right-0.large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger", class: "no-pad-rl"
  / .large-1.medium-2.small-12.columns.pad-left-0.pad-right-0
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns.pad-left-0.pad-right-0
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"
  / .large-1.medium-2.small-12.columns
  /   = image_tag "hanger.jpg", alt: "hanger"







