.bg-white
  .row
    .firt_block.pad-top-50
      .photo_container
        = image_tag "closet_door.jpeg", alt: "mycloset", class: "main-photo"
      .text_container.text-center.pad-top-80.pad-right-120.pad-left-120.pad-bottom-60
        %p.dark_font.orange-border Every dream closet needs a closet organizer system.
        .line_pic
          = image_tag "line.svg", alt: "line"




