.bg-white
  .row
    .firt_block.pad-top-50
      .homepage-photo.text-center
        = image_tag "closet_door.jpeg", alt: "mycloset", class: "main-photo"
      .text-center.pad-top-90.pad-bottom-90
        %p.dark_font.orange-border Every dream closet needs a organization system. 
        .line_pic
          = image_tag "line.svg", alt: "line"
.bottom
  .hangers-bottom
  

  