.row.bg-smoke 
  .large-3.columns.show-for-large-up.bg-darker-smoke.side-container.margin-top-35
    = render 'closets/clothes_categories'
  .small-12.large-9.columns
    = link_to new_closet_clothe_path(@closet.id) , class: 'right text-dark-gray'do
      %i.fa.fa-plus.fa-lg
      Add clothing

    / %li= link_to 'Edit', edit_closet_clothe_path(@closet.id)
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      - @clothes.each do |clothe|
        %li.card
          - if clothe.picture 
            %p= link_to image_tag(clothe.picture.photo.url(:medium)), closet_clothe_path(clothe.closet_id, clothe)
          %h5= link_to clothe.name , closet_clothe_path(@closet.id, clothe.id)
          
      
     