@import "variables";
@import "mixins";
@import "utility_classes";
@import "custom_foundation";
@import "clothes";
@import "font-awesome";
@import "font_awesome_icons";
@import "framework_and_overrides";


.light-border-top{
  border-top: 1px solid $soft-gray;
  }

.side-container{
  ul{
    h5{
      text-align: center;
      font-size: 27px;
      color: #4f4f4f;
    }
    li{
      a{
      color: $oil;
      font-size: 15px;
      &:hover{
      color: $gold;
      }
      }
    }  
  }
}

li.card{
  max-width: 225px;
  // border: 1px solid $soft-gray;
  border-radius: 10px;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 10px;
  background-color: $smoke;
  a{
    color: $oil;
    font-size: 13px;
    font-weight: bold;
    &:hover{
      color: $gray;
      font-weight: normal;
      }
  }
}

.clothe-card{
  border: 1px solid $soft-gray;
  background-color: $darker-smoke;
  padding: 30px;
  h4{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 27px;
    color: $oil;
    text-align: center;
    a{
      color: $oil;
      span.small{
        font-size: 16px;
      }
    }
  }
  p{
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 5px;
  }
  

}

.main-height{
  min-height: 85vh;
}