@import "variables";
@import "mixins";
@import "utility_classes";
@import "custom_foundation";
@import "clothes";
@import "closets";
@import "footer";
@import "font-awesome";
@import "font_awesome_icons";
@import "framework_and_overrides";

.main-photo{
  // width: 100vw;
  max-height: 75vh;
}

.hangers-bottom{
  background-image: image-url('hanger.jpg');
  background-repeat: repeat-x;
  height: 60px;
  width: 100%;
}
.light-border-top{
  border-top: 1px solid $soft-gray;
  }
// .orange-border{
//   border-bottom: : 1px, bold;
//   }

.side-container{
  // border:1px solid $soft-gray;
  ul{
    h5{
      text-align: center;
      font-size: 27px;
      color: #4f4f4f;
    }
    li{
      margin-bottom: 3px;
      a{
      color: $oil;
      font-size: 15px;
      &:hover{
      color: $oil;
      font-weight: bold;
      font-size: 16px;
      }
      }
    }  
  }
}

li.card{
  text-align: center;
  padding: 0 0 20px 0;
  background-color: $white;
  border:1px solid $soft-gray;
  a{
    color: $gold;
    font-size: 13px;
    // font-weight: bold;
    &:hover{
      color: $gold;
      font-weight: normal;
      font-size: 14px;
      }
  }
}

.clothe-card{
  border: 1px solid $soft-gray;
  background-color: $white;
  margin-left: 120px;
  margin-right: 30px;
  padding-bottom: 30px;
  h4{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 27px;
    color: $oil;
    text-align: center;
    a{
      color: $oil;
      span.small{
        font-size: 16px;
      }
    }
  }
  p{
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 5px;
  }
  

}

.main-height{
  min-height: 85vh;
}

.dark_font{
  font-family: "Times New Roman", Times, serif;
  color: lighten(#383838, 10%);
  font-size: 21px;
  // margin-bottom: 40px;
}